/*ETIQUETAS*/
h1{
    font-family: "Grand Hotel", cursiva;
	color: $naranja;
}
h1:hover{
	color: $bordo;
}

a{
	color: $bordo;
}
a:hover{
	color: $naranja;
	font-size: 19px;
}

p{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}




