/*ETIQUETAS*/
html {
	scroll-behavior: smooth;
}

h1 {
	font-family: "Grand Hotel", cursiva;
	color: $bordo;
}

h1:hover {
	color: $naranja;
}

a {
	color: $bordo;
}

a:hover {
	color: $naranja;
	font-size: 19px;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}